<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Green Wallet</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" title="Blank"></a>
          </li>
        </ul>
        <span class="navbar-text">
          <span>Have an account?</span>
          <button class="btn btn-light">Login</button>
        </span>
      </div>
    </div>
  </nav>
</div>
<div class="container container-carousel my-5">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/butterfly.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/daun.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/shine.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>


<!-- <app-topup></app-topup> -->


<router-outlet />
