<div class="bg-body-tertiary min-vh-100 py-5">
  <div class="d-flex align-content-start flex-wrap justify-content-center">
    <div>
      <h1>History</h1>
    </div>
  </div>
  <div class="d-flex align-content-start flex-wrap justify-content-center">
    @for (item of histories.data; track $index) {
      <div class="col-lg-6 col-md-6 mb-2" style="max-width: 380px; min-width: 380px;">
        <!-- <app-cards [id]="card.id" [name]="card.name" [image]="card.images.lg" [fullName]="card.biography.fullName" [occupation]="card.work.occupation"></app-cards> -->
        <app-card [item]="item"></app-card>
      </div>
    }
  </div>
</div>
