<div class="container container-carousel my-5">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/butterfly.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/daun.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/shine.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
  </div> 
</div>