<div class="container my-5" style="min-height: fit-content">
  <iframe class="video-presentation" src="https://www.youtube.com/embed/T8KzBr9yna0?si=RTkXfzBhP4aCAgft" width="100%" style="min-height: fit-content;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/T8KzBr9yna0?si=RTkXfzBhP4aCAgft" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
  <div class="d-flex justify-content-center">
    <img src="../../../assets/logo_full_greenpay.png" alt="" height="400px" width="400px">
  </div>
  <p #aboutContent class="typing-text"></p>

</div>
<!-- <app-plant-carousel></app-plant-carousel> -->
