<div class="carousel">
  <nav class="navbar navbar-expand-lg navbar-section">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/greenpay/home">
        <img src="../../../assets/GREEN_PAY_LOGO.png" alt="" class="logo" />
        <!-- GreenPay -->
      </a>
      <div id="navbarText">
        <span class="navbar-text">
          <button class="btn btn-light me-2" routerLink="/greenpay/login">
            Login
          </button>
          <button class="btn btn-light" routerLink="/greenpay/register">
            Register
          </button>
        </span>
      </div>
    </div>
  </nav>
</div>

<router-outlet />

<div class="border-top footer-section">
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3"
    >
      <p class="col-md-4 mb-0">
        &copy; 2024 GreenPay, Inc
      </p>

      <a
        title="Footer"
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <!-- <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a routerLink="/greenpay/home" class="nav-link px-2"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/greenpay/features"
            class="nav-link px-2"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/greenpay/pricing"
            class="nav-link px-2"
            >Pricing</a
          >
        </li>
      </ul> -->
    </footer>
  </div>
</div>
