<div class="container my-3 carousel">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/green-wallet.png" alt="" class="logo">
          Green Wallet
        </a>
        <div id="navbarText">
          <span class="navbar-text">
            <button class="btn btn-light" routerLink="/nauth/login">Login</button>
            <button class="btn btn-light" routerLink="/nauth/register">Register</button>
          </span>
        </div>
      </div>
    </nav>
  </div>
  
  <router-outlet />

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Green Wallet, Inc</p>
  
      <a title="Footer" href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="/nauth/home" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a routerLink="/nauth/features" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a routerLink="/nauth/pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      </ul>
    </footer>
  </div>