.card-style {
  width: 12rem;
  margin: 12px;
}

.card-class {
  margin: 1%;
  width: 23%;
  text-align: left;
  float: left;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Efek bayangan
  transition: transform 0.3s ease-in-out; // Transisi saat card digeser

  &:hover {
    transform: translateY(-5px); // Menggeser card sedikit ke atas saat dihover
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); // Efek bayangan yang lebih menonjol
  }

  .mat-card-header {
    background-color: #f5f5f5; // Warna latar belakang header card
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 12px; // Ruang dalam di sekitar judul card
  }

  .mat-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333; // Warna teks judul
  }

  .mat-card-subtitle {
    font-size: 14px;
    color: #666; // Warna teks subtitle
  }

  .mat-card-content {
    padding: 20px; // Ruang dalam di sekitar konten card
    text-align: center; // Pusatkan teks konten
  }

  .mat-card-footer {
    background-color: #f5f5f5; // Warna latar belakang footer card
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 12px; // Ruang dalam di sekitar footer card
    display: flex;
    justify-content: center; // Pusatkan ikon pada footer
  }

  mat-icon {
    font-size: 24px;
    color: #333; // Warna ikon
    margin: 0 8px; // Ruang antara ikon pada footer
  }
}
