<p-chart type="bar" [data]="data" [options]="options"></p-chart>

<div class="d-flex align-content-start flex-wrap">

  <mat-card class="card card-style">
    <mat-card-header>
      <mat-card-title>Income {{ monthName }}</mat-card-title>
      <mat-card-subtitle>description</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>{{ incomePerMonth | rpCurrency }}</h1>
    </mat-card-content>
    <mat-card-footer>
      <!-- <mat-icon>bar_chart</mat-icon> -->
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-class card-style">
    <mat-card-header>
      <mat-card-title>Outcome {{ monthName }}</mat-card-title>
      <mat-card-subtitle>description</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>{{ outcomePerMonth | rpCurrency }}</h1>
    </mat-card-content>
    <mat-card-footer>
      <!-- <mat-icon>bar_chart</mat-icon> -->
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-class card-style">
    <mat-card-header>
      <mat-card-title>Difference {{ monthName }}</mat-card-title>
      <mat-card-subtitle>description</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>
        {{ incomePerMonth - outcomePerMonth | rpCurrency }}
      </h1>
    </mat-card-content>
    <mat-card-footer>
      <!-- <mat-icon>bar_chart</mat-icon> -->
    </mat-card-footer>
  </mat-card>

</div>