.small-font{
    font-size: 12px;
}

.margin-min{
    margin-top: -15px;
}

.button-choose{
    width: 22rem; 
    height: 48px; 
    padding: 12px; 
    margin: 6px; 
    background-color: #5DA871;
}

.image{
    height: 20px;
}

.number{
    color: orange;
}